.container{
    background-color: rgb(206, 187, 247);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    height:650px;
}
.item{
    background-color: rgb(143, 126, 241);
    color:rgb(234, 215, 251);
    font-size: 20px;
    padding:10px;
    text-align: center;
}
.item 1{
    grid-column-start: 1;
    grid-column-end: 3;
}